.form {
    width: 95vw;
    height: 13vh;
    background-color: #def;
    background-image: radial-gradient(closest-side, transparent 98%, rgba(0, 0, 0, .3) 99%),
        radial-gradient(closest-side, transparent 98%, rgba(0, 0, 0, .3) 99%);
    background-size: 80px 80px;
    background-position: 0 0, 40px 40px;
}

#input {
    width: 60vw;
    overflow-x: scroll;
    display: inline-block;
}

.ImageLinkButtons {
    width: 35vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}