.color-name {
    /* background-color: blue; */
    margin-top: 1vh;
}

.error-msg {
    margin-top: 1vh;
}

.color-display {
    /* background-color: red; */
    font-size: 20px;
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}